.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.github-box{
  padding-left: 25px;
  padding-top: 25px;
}
.pic{
  width:40%;
  border-radius:50%;
  margin-left:20px;
  margin-top:30px; 
  
}
.card{
  box-shadow: 0 2px 20px rgba(232,231,233,.45),0 2px 20px rgba(0,0,0,.45); 
  width:20rem;
  margin:0 auto;
  height:20rem;
}
